body{
    margin: 0px;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(214, 214, 214), #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo{
    position: absolute;
    top: 5%;
}
#calculadora{
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
#display{
    width: 165px;
    height: 15px;
    padding: 25px;
    background-color: rgb(8, 8, 8);
    font-size: 30px;
    text-align: right;
    color: white;
    margin: 10px;
    border-radius: 10px;
}
#botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
button{
    height: 50px;
    width: 50px;
    border: none;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 50px;
    margin: 5px;
    font-size: 25px;
    background-color: rgb(41, 41, 41);
    color: rgb(251, 176, 171);
    box-shadow: 0 0 3px black;
    cursor: pointer;
}
button:hover{
    background-color: rgb(31, 31, 31);
}
button:active{
    background-color: rgb(21, 21, 21);
}