html, body{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(218, 238, 255), white);
}
.titulo{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(13, 13, 87);
}
.paragrafo{
    font-family: sans-serif;
    font-size: medium;
    display: flex;
    justify-content: center;
}
button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
}
.botoes{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.pedra{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.836));
}
.pedra:hover{
    background-color: rgba(0, 0, 0, 0.151);
}
.pedra:active{
    background-color: rgba(0, 0, 0, 0.027);
}
.papel{
    background-image: linear-gradient(to bottom, rgba(63, 78, 160, 0.555), rgb(63, 78, 160));           
}
.papel:hover{
    background-color: rgba(63, 78, 160, 0.247);
}
.papel:active{
    background-color: rgba(63, 78, 160, 0.11);
}
.tesoura{
    background-image: linear-gradient(to bottom, rgba(47, 134, 36, 0.527), rgb(48, 134, 36));
}
.tesoura:hover{
    background-color: rgba(47, 134, 36, 0.308);
}
.tesoura:active{
    background-color: rgba(47, 134, 36, 0.123);
}
.jogadaDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
}
.suaJogadaMao, .pcJogadaMao{
    font-size: 30px;
}
.suaJogadaDiv, .pcJogadaDiv{
    width: 240px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    border-color: rgba(156, 156, 156, 0.171);
    box-shadow: 0 0 6px grey;
}
.scoreDiv{
    display: flex;
    justify-content: center;
}
.score{
    border: 1px solid;
    border-radius: 50px;
    border-color: rgba(156, 156, 156, 0.171);
    box-shadow: 0 0 6px grey;
    padding: 10px 30px;
    font-family: sans-serif;
    font-size: 15px;
}
.vs{
    font-weight: bold;
    margin-top: 50px;
}
.resultado{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}